@import '../themes/zola-paper/sass/font-families';
@import '../themes/zola-paper/sass/theme';
/*
* Custom stuff below
*/
:root {
    --code-bg: #f1f1f1;
    --content: rgba(0, 0, 0, 0.76)
}
/* dark style support from OS */
@media (prefers-color-scheme: dark) {
    :root {
        --theme: #1d1e20;
        --entry: #2e2e33;
        --primary: rgba(255, 255, 255, 0.84);
        --secondary: rgba(255, 255, 255, 0.56);
        --tertiary: rgba(255, 255, 255, 0.16);
        --content: rgba(255, 255, 255, 0.64);

        --hljs-bg: #2e2e33;
        --code-bg: #37383e;
        --border: #5b5d67;
    }
}

.menu li + li, .logo a {
    margin: 0;
}
.menu a, .logo a {
    padding: 0 var(--gap);
}
img {
    /* fix image height */
    height: auto;
}
/* image zoom */
img.zoomable {
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
}
img.zoom {
    transform: scale(2);
    cursor: zoom-out;
}

/* Social Icons */
a.icon {
    float: left;
    padding: 2px;
    transition: fill .2s ease-in;
    box-shadow: none;
    top: -7px;
    position: relative;
    opacity: 0.7;
    margin: 0 1em 0 0;
}

a.icon:hover {
    opacity: 1;
    background: transparent;
}
a.icon:active {
    transform: scale(2);
}
a.icon:hover .invert-color path {
    fill: #eee;
}
a {
    color: #5085ff;
    padding: 1pt 2pt;
    border: 2px solid transparent;
}
.post-content a {
    box-shadow: none;
    // border-bottom: 1px solid scale-color($primary, $alpha: -25%);
}
// .post-content a:hover {
//     border-bottom: 1px solid transparent;
// }
a:hover, .post-tags a:hover {
    background: var(--primary);
    color: var(--theme);
}
a.entry-link {
    border-radius: var(--radius);
    background: transparent;
}
.first-entry {
    padding-left: 5px;
    padding-right: 5px;
}
.post-entry:hover, .first-entry:hover {
    background: var(--content);
    color: var(--theme);
    border-radius: var(--radius);
}
.post-entry:hover h2, .post-entry:hover .entry-content *, .post-entry:hover .entry-footer, .first-entry:hover h2, .first-entry:hover .entry-content *, .first-entry:hover .entry-footer, {
    color: var(--theme);
}

.github path {
    fill: var(--primary);
}
strong, b {
    font-weight: 700;
}
strong, b, em {
    color: var(--primary);
}
blockquote {
    background: var(--code-bg);
}

// .emoji {
// font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
// }
